*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "LINE Seed JP", sans-serif;
  line-height: 1.5;
  color: #2e3142;
  background-color: #fff;
  letter-spacing: 0.15rem;
}

a {
  color: inherit;
  text-decoration: none;
}
