@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  position: relative;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;

  &:hover {
    animation: rotate 2s linear infinite;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.link_page {
  background-color: #eef0f2;
}

.flex_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
