.link_button {
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d7dde5;
  }
}
