##### New inquiry from cateiru.com #######

----

# {{.Subject}}

{{.Detail}}

---

{{ with .Category }}
- Category : {{.Category}}
{{ end }}

{{ with .URL }}
- URL : {{.URL}}
{{ end }}

{{ with .CustomTitle }}
- {{.CustomTitle}} : {{.CustomValue}}
{{ end }}

---

# User Data

- Name: {{.Name}}
- Language: {{.Lang}}
- Mail Address: {{.Mail}}
- IP Address: {{.IP}}
- Browser: {{.UserData.Browser}}
- OS: {{.UserData.OS}}
- Device: {{.UserData.Device}}
- Is Mobile: {{.UserData.IsMobile}}

{{.Time}}
