##### New inquiry from cateiru.com #######

----

# {{.Subject}}

{{.Detail}}

---

{{ with .Category }}
- Category : {{.}}
{{ end }}

{{ with .URL }}
- URL : {{.}}
{{ end }}

{{$custom_value := .CustomValue}}
{{ with .CustomTitle }}
- {{.}} : {{$custom_value}}
{{ end }}

---

# User Data

- Name: {{.Name}}
- Language: {{.Lang}}
- Mail Address: {{.Mail}}
- IP Address: {{.IP}}
- Browser: {{.UserData.Browser}}
- OS: {{.UserData.OS}}
- Device: {{.UserData.Device}}
- Is Mobile: {{.UserData.IsMobile}}

{{.Time}}
